html, body {
    height: 100%;
}

#site-container {
    padding: 5px;
    background-color: whitesmoke;
}

#input-column {
    float: left;
    width: 105px;
}

.fill-height {
    height: 100%;
}

label, input, select {
    min-width: 100px;
}